html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

#services {
    margin-top: 100px;
}

.navbar {
    width: 100%;
    height: 100px;
    background-color: black;
    color: #ffc346;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}

.logo {
    font-size: 2rem;
    position: absolute;
    left: 5%;
}

.nav-items {
    position: absolute;
    right: 5%;
}

.nav {
    display: flex;
    position: relative;
}

.nav li {
    list-style: none;
    margin: 0 25px;
}

.nav li a {
    text-decoration: none;
    color: #ffc346;
    position: relative;
}

.nav li a::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #ffc346;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: left;
}

.nav li a:hover::after {
    transform: scaleX(1);
}

.top-image {
    height: 93.5vh;
}

.img1 {
    background-image: url("images/apple-magic-keyboard-with-numeric-pad-on-table-near-wireless-1714205.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.img-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hiText {
    font-size: 10rem;
    margin: 30px;
    color: white;
    position: relative;
}

.hiText::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: -5px;
    left: 0;
}

.details {
    font-size: 2.8rem;
    color: white;
}


/* ABOUT SECTION */

#about {
    margin-top: 100px;
}

.about-container {
    height: auto;
    width: 100%;
    padding: 0 5%;
    display: flex;
    margin-bottom: 5%;
}

.my-img {
    height: 500px;
    width: 340px;
    border: 2px solid black;
    margin-left: 100px;
}

.info {
    padding: 0 5%;
    width: 50%;
    margin-left: 100px;
}

.about-me-text {
    font-size: 3rem;
}

.skill-text {
    font-size: 4rem;
}

.skill-container {
    padding: 0 5%;
}

.skill-item {
    display: flex;
    margin: 10px;
    font-size: 2rem;
}

.skill-item h4 {
    margin-right: 300px;
    margin-left: 50px;
    width: 100px;
}

.progress-box {
    width: 60%;
    border: 2px solid black;
    border-radius: 50px;
}

.html,
.css,
.bootstrap,
.js,
.jquery,
.c,
.unity {
    height: 100%;
    border-radius: 50px;
}

.html1 {
    background-color: rgb(17, 107, 209);
    animation: html 1s linear forwards;
}

@keyframes html {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

.css1 {
    background-color: rgb(17, 107, 209);
    animation: css 1s linear forwards;
}

@keyframes css {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

.bootstrap1 {
    background-color: rgb(17, 107, 209);
    animation: bootstrap 1s linear forwards;
}

@keyframes bootstrap {
    0% {
        width: 0%;
    }
    100% {
        width: 76%;
    }
}

.js1 {
    background-color: rgb(17, 107, 209);
    animation: js 1s linear forwards;
}

@keyframes js {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

.jquery1 {
    background-color: rgb(17, 107, 209);
    animation: jquery 1s linear forwards;
}

@keyframes jquery {
    0% {
        width: 0%;
    }
    100% {
        width: 68%;
    }
}

.c1 {
    background-color: rgb(17, 107, 209);
    animation: c 1s linear forwards;
}

@keyframes c {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}

.unity1 {
    background-color: rgb(17, 107, 209);
    animation: unity 1s linear forwards;
}

@keyframes unity {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}


/* SERVICE SECTION */

.services {
    padding: 0 5%;
}

.image {
    margin-bottom: 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: scale(0.8);
}

.img-2,
.img-4 {
    display: flex;
    flex-direction: row-reverse;
}

.image::after {
    content: '';
    width: 50%;
    height: 5px;
    background-color: black;
    border-radius: 2px;
    position: absolute;
    bottom: -20px;
    opacity: 0.5;
}

.img {
    transform: scale(0.6);
    transition: transform 1s;
}

.image:hover .img {
    transform: scale(0.7);
}

.logo-holder {
    border-radius: 50%;
}

.service-detail h3 {
    font-size: 350%;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.service-detail h3::after {
    content: '';
    width: 50%;
    height: 5px;
    background-color: black;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 1s;
}

.image:hover .service-detail h3::after {
    transform-origin: left;
    transform: scaleX(1);
}

.logo-text {
    text-align: center;
    font-size: 100%;
}

.text {
    text-align: center;
    font-size: 200%;
    font-weight: light;
    margin-bottom: 20px;
}

.service-heading {
    margin-top: 50px;
    text-align: center;
    font-size: 5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-heading::after {
    content: '';
    width: 20%;
    height: 5px;
    background-color: black;
    border-radius: 2px;
    position: absolute;
    bottom: -20px;
}


/*Projects*/

#projects {
    margin-top: 10%;
    margin-left: 0;
    margin-right: 0;
}

.project-heading {
    text-align: center;
    font-size: 5rem;
    position: relative;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-heading::after {
    content: '';
    width: 20%;
    height: 5px;
    background-color: black;
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
    transition: transform 0.7s linear;
    transform: scaleX(0);
    transform-origin: left;
}

.project-heading:hover::after {
    transform: scaleX(1);
}

.carousel-bg {
    background-color: rgb(17, 107, 209);
    height: 500px;
}

.carousel-item {
    text-align: center;
}

.carousel-slides {
    position: relative;
}

.carousel-image {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.website {
    background-image: url("images/background.jpg");
    background-size: cover;
}

.jack {
    background-image: url("images/main\ menu\ background\ 2.png");
    background-size: cover;
}

.colour {
    background-image: url("images/MENU-01.jpg");
    background-size: cover;
}

.games {
    background-image: url("images/game-development.png");
    background-size: cover;
}

.logo-carousel {
    background-image: url("images/illustator-draw.png");
    background-size: cover;
}

.carousel-text {
    text-align: center;
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-inner {
    background-color: aqua;
    height: 500px;
    padding: 0;
}

.carousel-caption h5 {
    font-size: 2rem;
}

.carousel-caption p {
    font-size: 1.2rem;
}


/* CONTACT */

#contact {
    padding: 5% 10%;
    background-image: url('images/background.jpg');
    background-size: cover;
    color: white;
    height: 700px;
}

.contact-main {
    height: 600px;
    width: 100%;
    display: flex;
}

.contact-info {
    width: 50%;
    height: 100%;
}

.contact-info h1 {
    font-size: 3rem;
}

.contact-form {
    width: 50%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.contact-heading {
    margin-bottom: 10%;
    margin-left: 5%;
    font-size: 2rem;
}

.contact-heading-text {
    margin-left: 8%;
    font-size: 1.5rem;
}

.contact-h3 {
    margin: 2% 0;
    /* font-size: 2rem; */
}

.form-content {
    display: flex;
    flex-direction: column;
}

.form-content input,
textarea {
    border: none;
    position: relative;
    font-size: 2rem;
    border-bottom: 2px solid #464aff;
    margin: 5px 0;
    color: white;
}

.contact-form button {
    margin: 5px 0;
    transform: scale(1.5);
    border-radius: 20%;
}

.contact-form h1 {
    font-size: 3rem;
    margin-bottom: 10%;
}

.h2,
h2 {
    font-size: 2.5rem;
}

@media only screen and (max-width:430px) {
    .nav-items {
        font-size: 1.2rem;
    }
    .nav-items li {
        margin: 0;
    }
    .hamburger {
        position: absolute;
        right: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: auto;
        flex-direction: column;
    }
    .lines {
        width: 100%;
        height: 5px;
        background-color: #ffc346;
        margin: 3px;
        border-radius: 2px;
    }
    .nav-items {
        background-color: rgba(0, 0, 0, 0.6);
        right: 0;
        top: 100%;
        margin-top: 5px;
        width: 100%;
        display: none;
    }
    .nav {
        left: 0;
        display: block;
        margin: 0;
        background-color: black;
        width: 100%;
    }
    .nav li {
        padding: 10px;
        width: 100%;
        text-align: center;
    }
    .hiText {
        font-size: 5rem;
        text-align: center;
    }
    .details {
        font-size: 1.5rem;
        text-align: center;
    }
    /*ABOUT SECTION*/
    .about-container {
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .my-img {
        width: 80%;
        margin-bottom: 30px;
        margin-left: 0;
    }
    .info {
        width: 80%;
        margin: 0;
    }
    .skill-item {
        flex-direction: column;
    }
    .skill-text {
        font-size: 2.25rem;
    }
    .progress-box {
        height: 20px;
        width: 100%;
    }
    .skill-item h4 {
        font-size: 1.5rem;
        margin-left: 0;
        margin-bottom: 10px;
    }
    .skill-container {
        padding: 0;
        padding: 0 21.25px;
    }
    /* SERVICES SECTION */
    .service-heading {
        font-size: 3rem;
    }
    .service-heading::after {
        width: 80%;
    }
    .image {
        flex-direction: column;
    }
    .service-detail h3 {
        font-size: 2.5rem;
    }
    .service-detail h3::after {
        width: 100%;
    }
    /* Projects */
    .carousel-inner {
        padding: 0;
    }
    .carousel-text h1 {
        font-size: 3rem;
    }
    .carousel-text h2 {
        font-size: 0.8rem;
    }
    .project-heading::after {
        width: 80%;
    }
    .carousel-text {
        top: 325px;
    }
    .carousel-image {
        width: 150px;
        height: 150px;
        top: 150px;
    }
    /* CONTACT */
    .contact-main {
        display: flex;
        flex-direction: column;
    }
    .form-content input,
    textarea {
        border: none;
        position: relative;
        font-size: 1rem;
        margin: 5px 0;
        color: white;
        background-color: rgb(216, 216, 216);
    }
    .contact-info,
    .contact-form {
        width: 100%;
    }
    .contact-form button {
        transform: scale(1);
    }
    .h2,
    h2 {
        font-size: 1.5rem;
    }
}